* {
  box-sizing: border-box;
}

body {
  background-image: url(Runo-Demo/Hero-image.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
}
.header .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(229, 229, 229);
}
.header .logo {
  color: rgb(248, 249, 250);
  font-family: "League Spartan";
  font-size: 22px;
  margin-left: 70px;
}
.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-right: 70px;
}
.header .menu a {
  text-decoration: none;
  color: rgb(229, 229, 229);
}
.header .menu hr {
  height: 20px;
}
.header .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 20px;
  display: flex;
  align-items: center;
}

.links .facebook {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/facebook.svg);
  cursor: pointer;
}
.links .twitter {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/twitter.svg);
  cursor: pointer;
}
.links .youtube {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/youtube.svg);
  cursor: pointer;
}
.links .pinterest {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/pinterest.svg);
  cursor: pointer;
}
.links .behance {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/behance.svg);
  cursor: pointer;
}

#search {
  width: 20px;
  height: 20px;
  background-image: url(Runo-Demo/Search\ Icon.svg);
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 0 130px 80px;
}

.first {
  width: 77px;
  height: 21px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 21px;
  margin-top: 250px;
}
.first p {
  width: 57px;
  height: 11px;
  color: white;
  font-size: 10px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.second {
  width: 530px;
  height: 88px;
  color: rgb(255, 255, 255);
  font-family: "Lora";
  font-size: 36px;
  font-weight: 700;
}

.third {
  display: flex;
  width: 560px;
  color: rgb(229, 229, 229);
  padding: 17px 0 0 0;
}
.third p {
  margin-right: 11px;
}
.third .line .line {
  border-bottom: 1px solid #888;
}
.third span {
  font-size: 12px;
  font-weight: 400;
  font-family: "Lora";
}
.third hr {
  width: 60px;
  margin-right: 10px;
  height: 1px;
}

.btn-hero {
  width: 50px;
  display: flex;
  margin-top: 60px;
}

input[type=checkbox] {
  display: none;
}

.btn::before {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.2);
  width: 8px;
  height: 8px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.main {
  padding: 160px 70px 0 70px;
}
.main span {
  font-size: 45px;
  font-weight: 700;
  color: rgb(73, 80, 87);
}

.breadcrumbs {
  color: rgb(73, 80, 87);
  display: flex;
  padding: 35px 0;
  gap: 20px;
  font-size: 16px;
  font-weight: 700px;
}
.breadcrumbs a {
  text-decoration: none;
  color: rgb(73, 80, 87);
}
.breadcrumbs a:hover {
  color: rgb(212, 163, 115);
}
.breadcrumbs #view-all {
  margin-left: auto;
}

.blogs-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.blogs-images .date-blog {
  color: rgb(108, 117, 125);
  font-size: 12px bold;
  font-weight: 700;
  padding: 20px 0 0 0;
}
.blogs-images .title-blog {
  color: rgb(73, 80, 87);
  font-size: 29px;
  padding: 30px 0 0 0;
  font-weight: 700;
}
.blogs-images .description-blog {
  color: rgb(108, 117, 125);
  font-size: 15px;
  padding: 40px 0 0 0;
  font-weight: 700;
}
.blogs-images .blog-box {
  width: calc(25% - 15px);
  height: 600px;
  box-sizing: border-box;
}

.image-blog img {
  width: 100%;
}
.image-blog .category-blog {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.big-picture-main {
  margin-top: 160px;
  background-image: url("Runo-Demo/Main-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.big-picture-main div:first-child {
  background: rgba(255, 255, 255, 0.15);
  width: 65px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}
.big-picture-main div {
  color: rgb(229, 229, 229);
}
.big-picture-main .main-first {
  width: 530px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Lora", serif;
  text-align: center;
  padding: 30px 0 20px 0;
}
.big-picture-main span {
  display: block;
}
.big-picture-main .main-second {
  width: 440px;
  font-family: "Lora";
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 20px 0;
}
.big-picture-main hr {
  width: 30px;
  height: 1px;
}
.big-picture-main .main-third {
  padding: 15px 0 0 0;
  font-family: "Lora";
  font-weight: 400;
  font-size: 12px;
}

.main-buttom-blog {
  padding: 180px 70px 0px 70px;
}
.main-buttom-blog .blog-metro {
  font-family: "Lora";
  font-size: 36px;
  font-weight: 700;
  color: rgb(73, 80, 87);
}
.main-buttom-blog .image-blog-metro {
  padding: 70px 0 100px 0;
  display: flex;
  gap: 20px;
}
.main-buttom-blog .image-blog-metro div {
  flex: 1;
  box-sizing: border-box;
}
.main-buttom-blog .image-blog-metro .first-blog-metro,
.main-buttom-blog .image-blog-metro .second-blog-metro,
.main-buttom-blog .image-blog-metro .third-blog-metro {
  height: 480px;
  width: 360px;
}
.main-buttom-blog .first-blog-metro {
  background-image: url(Runo-Demo/Blog\ Image\ 11.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.main-buttom-blog .metro-blog-frame {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 30px;
  margin-top: 30px;
  width: 70px;
  height: 25px;
  color: white;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
}
.main-buttom-blog .metro-blog-frame span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
}
.main-buttom-blog .metro-blog-date {
  color: rgb(229, 229, 229);
  font-family: "Lora";
  font-size: 14px;
  font-weight: 400;
  padding: 220px 0 0 60px;
}
.main-buttom-blog .metro-blog-title {
  color: rgb(255, 255, 255);
  font-family: "Lora";
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0 0 60px;
  line-height: 1.5;
}
.main-buttom-blog .metro-blog-about {
  color: rgb(229, 229, 229);
  font-family: "Lora";
  font-size: 13px;
  font-weight: 400;
  padding: 25px 0 0 60px;
  line-height: 1.7;
}
.main-buttom-blog .second-blog-metro {
  background-image: url(Runo-Demo/Blog\ Image\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.main-buttom-blog .third-blog-metro {
  background-image: url(Runo-Demo/Blog\ Image\ 9.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}

.footer {
  height: 500px;
  background: rgb(33, 37, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-menu {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 240px);
  padding: 0 70px;
  color: rgb(255, 255, 255);
}
.footer .footer-menu h3 {
  font-size: 26px;
  font-weight: 700;
  padding: 0 0 25px 0;
  font-family: "Lora";
}
.footer .footer-menu li {
  font-size: 15px;
  color: rgb(229, 229, 229);
  font-weight: 400;
  font-family: "Lora";
  padding: 12px 0;
}
.footer .footer-menu p {
  font-size: 15px;
  color: rgb(229, 229, 229);
  font-weight: 400;
  font-family: "Lora";
  padding: 12px 0;
}
.footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 20px;
  display: flex;
  align-items: center;
}

.sub-footer {
  height: 80px;
  background: rgb(52, 58, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}
.sub-footer p {
  color: rgb(229, 229, 229);
  font-family: "Lora";
  font-size: 14px;
  font-weight: 700;
}
.sub-footer a {
  color: rgb(229, 229, 229);
  font-family: "Lora";
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */